div.about{
    display: flex;
    flex-direction:row;
    border:1px solid lightgray ;
    box-shadow:0px 0px 5px 5px lightgrey;
    padding: 10px 15px 10px 15px;
    margin-top: 10px;
}

div.sub-title-left {
    width: 45%;
}
div.sub-title-right {
    width: 55%;
}

div.sub-title-div1{
    margin-top: 10px;;
}
span.sub-title1{
    font-weight: bold;
    font-size: 1.2em;   
}

span.sub-title2 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
}

span.sub-title3 {
    font-size: 1em;
}