<div class="about">
        <div class="sub-title-left"><span class="sub-title1">About</span>
            <div class="detail">{{about1}} </div>
            <div class="detail">{{about2}} </div>
        </div>
    
        <div class="sub-title-right"><span class="sub-title1">Basic Information</span>
            <div class="sub-title-div1"><span class="sub-title2">AGE:</span><span class="sub-title3">{{age}}</span></div>
            <div class="sub-title-div1"><span class="sub-title2">EMAIL:</span><span class="sub-title3">{{email}}</span></div>
            <div class="sub-title-div1"><span class="sub-title2">PHONE:</span><span class="sub-title3">{{phone}}</span></div>
            <div class="sub-title-div1"><span class="sub-title2">ADDRESS:</span><span class="sub-title3">{{address}}</span></div>
            <div class="sub-title-div1"><span class="sub-title2">LANGUAGE:</span><span class="sub-title3">{{language}}</span></div>
        </div>
</div>
    
    





